:root {
  --white: #ffffff;
  --btn-background-cloud-color: #f4f4fd;
  --btn-hover-color: #404bbf;
  --footer-background-color: #2e2f42;
  --background-color: #e5e5e5;
  --cornflower-color: #e7e9fc;
  --descr-text-color: #434455;
  --logo-web-color: #4d5ae5;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/*--Header--*/
.header {
  color: var(--main-text-footer-background-color);
}
.heder-nav {
}
.header-logo-web {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-web-color);
}

.header-logo-studio {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.75;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--footer-background-color);
}

.heder-list {
}

.logo :hover,
.logo :focus {
  text-decoration: none;
  color: var(--main-text-footer-background-color);
}

.heder-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.02em;
}

.heder-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.02em;
}

.list :hover,
.list :focus {
  color: #404bbf;
}

/* Contacts*/

.header-contacts {
}
.contacts-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.02em;
  color: #434455;
}

.list :hover,
.list :focus {
  color: #404bbf;
}

.contacts-item-mail {
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.02em;
  color: #434455;
}
.contacts-item-mobile {
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.02em;
  color: #434455;
}

/*Main section portfolio*/

.main-btn-list {
  background-color: #e5e5e5;
}

.btn-list-text {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 2;
  cursor: pointer;
  text-decoration-color: #4d5ae5;
}

.btn-list-text :hover {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 2;
  cursor: pointer;
  text-decoration-color: var(--white);
}

/*Progects list*/
.progects-item {
}
.progects-list {
}
.progects-link {
}

.progects-title-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.progects-descr-link {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.02em;
  color: #434455;
}

/*--Footer--*/

.footer {
  background-color: var(--footer-background-color);
}

.footer-logo-web {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.75;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-logo-studio {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.75;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-text {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.section-hero {
  background-color: var(--footer-background-color);
}
.title-hero {
  font-weight: 700;
  font-size: 56px;
  line-height: 5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.hero-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.04em;
  cursor: pointer;
  background-color: #4d5ae5;
  color: #ffffff;
}

/*Our goals section*/

.title {
}
.item-goals {
}
.goals-list {
}
.goals-poins {
  font-weight: 500;
  font-size: 20px;
  line-height: 2;
  letter-spacing: 0.02em;
  color: var(--footer-background-color);
}

.goals-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.02em;
  color: var(--descr-text-color);
}

/*Our projects section*/
.projects-section {
}
.our-projects {
  font-weight: 700;
  font-size: 36px;
  line-height: 3.33;
  color: var(--footer-background-color);
}
.item-projects {
}
.projects-list {
  background-color: var(--cornflower-color);
}

/*our team section*/
.our-team-section {
  background-color: var(--btn-background-cloud-color);
}
.our-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 3.33;
  color: var(--footer-background-color);
}
.our-team-item {
}

.our-team-list {
}

.our-team-img {
  background-color: #fcfcfc;
}

.item-team {
  background-color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  line-height: 2;
  letter-spacing: 0.02em;
  color: var(--footer-background-color);
}

.item-descr {
  background-color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.02em;
  color: var(--descr-text-color);
}
